<h1>Products</h1>
<table>
	<tr>
		<td>Name</td>
		<td>Description</td>
		<td>Created At</td>
	</tr>
	<%@products.each do |product|%>
	<tr>
		<td><%=product.name%></td>
		<td><%=product.description%></td>
		<td><%=product.created_at%></td>
	</tr>
	


<% end %>

</table>

<h2>Create new product</h2>
<form action='/products/' method='post'>
  <input type='text' name='product[name]' placeholder='name' />
  <input type='text' name='product[description]' placeholder='description' />
  <input type='submit' value='Create' />
</form>
